@model Nop.Plugin.Payments.Monetico.Models.ConfigurationModel
@inject Nop.Core.IWebHelper webHelper
@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")
<form asp-controller="Monetico" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="UseSandbox_OverrideForStore" asp-input="UseSandbox" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="UseSandbox" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UseSandbox" />
                        <span asp-validation-for="UseSandbox"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="TPE_OverrideForStore" asp-input="TPE" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="TPE" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="TPE" />
                        <span asp-validation-for="TPE"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="CodeSociete_OverrideForStore" asp-input="CodeSociete" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="CodeSociete" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="CodeSociete" />
                        <span asp-validation-for="CodeSociete"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="CLE_OverrideForStore" asp-input="CLE" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="CLE" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="CLE" />
                        <span asp-validation-for="CLE"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>